<mat-tab-group animationDuration="0ms">
    <mat-tab label="لیست طرح ها">
        <ng-template matTabContent>
            <div class="py-5">
                <div class="row">

                    <div class="center-button col-md-1">
                        <button mat-flat-button class="btn btn-primary" (click)="openDialog()">افزودن طرح</button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="dataRecieved; then dataRecivedTemplate; else dataNotRecivedTemplate"></ng-container>
            <ng-template #dataRecivedTemplate>
                <custom-table [tableData]="planList" [tableColumns]="planListTableColumns"
                    [actionBtns]="planListTableActions" (actionButtonEmitter)="actionBtnCallback($event)"
                    [isFilterable]="false" (paginationInfoEmitter)="paginationChanged($event)" [isPageable]="true"
                    [paginationLength]="pageLength" [paginationSizes]="[10,20,30,40,50,100]" [defaultPageSize]="10"
                    (sort)="sortPlanListData($event)" [rowIndexColumn]="'id'">
                </custom-table>
            </ng-template>
            <ng-template #dataNotRecivedTemplate>
                <div class="loaderContainer">
                    <div class="center loader"></div>
                </div>
                <!--<div class="padding-20 text-center">
        <span class="text-center width-100 display-inline-block">
            <mat-spinner [diameter]="40"></mat-spinner>
        </span>
        <span>در حال دریافت اطلاعات</span>
    </div>-->
            </ng-template>
        </ng-template>
    </mat-tab>
</mat-tab-group>