<div class="footer-main">
    <div class="footer-inner bg-white">
        <div class="container-fluid bg-main py-3">
            <div class="row">
                <div class="col-4 footer-box">
                    <h3>بانک آینده</h3>
                    <hr />
                    <div class="row p-2 m-1">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex p-3 address-container">
                                <mat-icon>room</mat-icon>
                                <p class="text-justify">تهران، بزرگراه مدرس جنوب به شمال، تقاطع نلسون ماندلا، ابتدای
                                    خیابان بیدار، شماره‌‌ی یک (برج آینده)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4 footer-box">
                    <h3>تماس با ما</h3>
                    <hr />
                    <div class="contact-container">
                        <div class="contact-box">
                            <div class="contact-inner">
                                <mat-icon>phone</mat-icon>
                                <label>021-85930, 021-27663000</label>
                            </div>
                        </div>
                        <div class="contact-box">
                            <div class="contact-inner">
                                <mat-icon>fax</mat-icon>
                                <label>021-85931250</label>
                            </div>
                        </div>
                        <div class="contact-box">
                            <div class="contact-inner">
                                <mat-icon>email</mat-icon>
                                <label>info@ba24.ir</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4  col-sm-4 footer-box">
                    <h3>لینک های پرکاربرد</h3>
                    <hr />
                    <div class="mb-3 custom-links">
                        <a href="/SamtaLoanInternet">صفحه اصلی</a>
                    </div>
                    <div class="mb-3 custom-links">
                        <a href="/SamtaLoanInternet/Track/TrackList">پیگیری درخواست</a>
                    </div>
                    <div class="mb-3 custom-links">
                        <a href="/SamtaLoanInternet/ContactUs">ارتباط با ما</a>
                    </div>
                    <div class="mb-3 custom-links">
                        <a href="/SamtaLoanInternet/AboutUs">درباره ما</a>
                    </div>
                </div>

            </div>
            <div class="row bg-white">
                <div class="p-3">
                    <span>
                        &copy;
                        کلیه حقوق این سامانه متعلق به
                    </span>
                    <span>
                        <a href="https://ba24.ir/" class="text-dark-75 text-hover-primary">
                            بانک آینده
                        </a>
                    </span>
                    <span>می باشد.</span>
                </div>
            </div>

        </div>
    </div>
</div>